#drop-down {
    width: 11em;
    height: 9em;
    bottom: 6px;
    right: 6px;
    position: absolute;
    text-align: center;
    padding: 10px 8px;
    z-index: 10;
}

#drop-down p {
    margin: 10px;
}

#drop-down p:hover {
    /* background-color: #ecf1f7; */
    cursor: pointer;
    text-decoration: underline;
}
