#video-container {
    display: flex;
}

.video {
    margin: 2rem;
}

.video video {
    width: 30rem;
    border-radius: 1.5rem;
}

#call-handlers {
    margin: 2.5rem 0;
    width: 80%;
    text-align: center;
}