body,nav {
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);
    background: linear-gradient(to right, #ffc3a0, #FFAFBD);
}

#chat-window {
    min-height: 60vh;
    background: #f1f1f1;
    border: 1px solid rgb(211, 207, 207);
}

#chat-app .container {
    margin: 10px 0;
}

#display {
    padding-top: 6px;
    height: 55vh;
    overflow: scroll;
}

#active-users {
    margin-top: 0.7rem;
}

#display div {
    font-size: 20px;
    margin: 8px 20px;
}

.chat-msg span {
    border-radius: 7px;
    padding: 6px;
    background-color: #ecf1f7;
}

#features {
    display: flex;
    justify-content: space-evenly;
}

#features span {
    padding: 10px 3px;
    cursor: pointer;
}

#features span:hover {
    background-color: #424242;
}

.myright {
    text-align: right;
}

.myleft {
    text-align: left;
}

#status-bar {
    display: none;
}

#status-bar em {
    font-size: 16px;
    margin: 3px 23px;
}

#logo {
    margin: 0px 7px;
}

#logo i {
    position: relative;
    top: 8px;
}

#message-box {
    background-color: #f2f2f2;
    text-align: center;
    color: #333;
    border-radius: 30px;
    width: 66vw;
    margin: 0.2rem 0.6rem;
    border: 2px solid #f4b0b9 !important;
}

/* override materialize css styles */
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]) {
    border-color: #3282b8 !important;
    box-shadow: none !important;
}

.input-field input[type=text]:focus + label, 
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=tel]:focus + label {
    color: #1e7bb9 !important;
}
