:root {
    /* --golden: #f2a365; */
    --darkBlack: #121212;
    --lightBlack: #222222;
    --lightBlue: #46b5d1;
    --darkGrey: #424242;
    --lightGrey: #ccc;
    --listColor: #04272d;
}

.dark-bg {
    background: var(--darkBlack) !important;
}

.dark-modal {
    background: var(--lightBlack) !important;
}

.dark-list {
    background: var(--listColor) !important;
    color: var(--lightGrey) !important
}

.dark-window {
    background-color: var(--lightBlack) !important;
    border: 1px solid var(--lightBlue) !important;
} 

.dark-message-box {
    background-color: var(--lightBlack) !important;
    border: 2px solid var(--lightBlue) !important;
    color: var(--lightGrey) !important;
}

.dark-icon, .dark-banner, .dark-active {
    color: var(--lightBlue) !important;
}

.dark-features span:hover {
    background-color: var(--darkBlack) !important;
}

.dark-send-btn {
    border: 1px solid var(--lightBlue) !important
}

#send-msg-btn i.dark-icon {
    background-color: var(--lightBlack) !important;
}

.dark-drop-down {
    border: 1px solid var(--lightBlue) !important;
    background-color: var(--darkGrey) !important;
    color: var(--lightGrey) !important;
    box-shadow: 2px 2px 2px var(--lightBlack) !important;
}

.dark-msg span.msg {
    border-radius: 7px;
    padding: 6px;
    background-color: var(--lightBlue) !important;
}
